A data structure is a collection of data values and operations that can be applied to that data.

 It enables efficient storage, retrieval and modification to the data.

  Pandas offers two primary data structures: Series and DataFrame.

A Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It is similar to a column in a table or an Excel sheet.

In [31]:
import pandas as pd
print("\n-------------Creating a series from scalar value-----------------\n")
s_scalar = pd.Series(10,index = ['a','b','c'])
print(s_scalar)
print("\n-------------Creating a series from scalar value only one-----------------\n")
s_scalar = pd.Series(10)
print(s_scalar)
print("\n-------------Creating a series from list-----------------\n")
data = [10,20,30,40,50,60]
s = pd.Series(data)
print(s)
print("\n-------------We can specify a custom index to a list-----------------\n")
s = pd.Series(data,index = ['a','b','c','d','e','f'])
print(s)
print("\n-------------Creating a series from dictionary-----------------\n")
dict = {'a':10,'b':20,'c':30,'d':40,'e':50,'f':60}
print('Dict is: ',dict)
s = pd.Series(dict)
print('Series is: \n',s)
print('Indexing and Slicing(Similar to Numpy)')
print('Data: ',data,',',dict)
print('Indexed data' , data[1],',',dict['c'],',',s['a':'d'])
print('\n------------------Index,Value,Name,size,shape,hasnans,is_unique,empty----------------------------\n')
data = ['New Delhi', 'Moscow', 'Kabul', 'Beijing']
index = ['India', 'Russia', 'Afghanistan', 'China']
ser = pd.Series(data,index)
ser.name = 'Capitals' #Setting the name
print(ser.index)
print(ser.values)
print(ser.name)
print(ser.dtype)
print(ser.shape)
print(ser.size)
print(ser.empty)
print(ser.hasnans)
print(ser.is_unique)
print(ser.ndim)
print(ser.nbytes)
print('\n------------------Methods in Python----------------------------\n')
print('head, tail, describe, value_counts - gives unique values')
print(ser.head(2))
print(ser.tail(2))
print(ser.describe())
print(ser.value_counts())
print(ser.sort_values())
print(ser.sort_index())
print(ser.drop('Afghanistan'))
ser.replace('Kabul','Kaabul',inplace = True)
print(ser)
print('\n------------------Handling null value-----------------\n')
ser = pd.Series([None,None,1,2,3,None,4 ])
print('fillna')
ser2 = ser.fillna(0)
print(ser2)
print('dropna')
ser2 = ser.dropna()
print(ser2)

-------------Creating a series from scalar value-----------------

a    10
b    10
c    10
dtype: int64

-------------Creating a series from scalar value only one-----------------

0    10
dtype: int64

-------------Creating a series from list-----------------

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

-------------We can specify a custom index to a list-----------------

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

-------------Creating a series from dictionary-----------------

Dict is:  {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
Series is:
 a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
Indexing and Slicing(Similar to Numpy)
Data:  [10, 20, 30, 40, 50, 60] , {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
Indexed data 20 , 30 , a    10
b    20
c    30
d    40
dtype: int64

------------------Index,Value,Name,size,shape,hasnans,is_unique,empty----------------------------

Index(['India', 'Russia', 'Afghanistan', 'China'], dtype='object')
['New Delhi' 'Moscow' 'Kabul' 'Beijing']
Capitals
object
(4,)
4
False
False
True
1
32

------------------Methods in Python----------------------------

head, tail, describe, value_counts - gives unique values
India     New Delhi
Russia       Moscow
Name: Capitals, dtype: object
Afghanistan      Kabul
China          Beijing
Name: Capitals, dtype: object
count             4
unique            4
top       New Delhi
freq              1
Name: Capitals, dtype: object
Capitals
New Delhi    1
Moscow       1
Kabul        1
Beijing      1
Name: count, dtype: int64
China            Beijing
Afghanistan        Kabul
Russia            Moscow
India          New Delhi
Name: Capitals, dtype: object
Afghanistan        Kabul
China            Beijing
India          New Delhi
Russia            Moscow
Name: Capitals, dtype: object
India     New Delhi
Russia       Moscow
China       Beijing
Name: Capitals, dtype: object
India          New Delhi
Russia            Moscow
Afghanistan       Kaabul
China            Beijing
Name: Capitals, dtype: object

------------------Handling null value-----------------

fillna
0    0.0
1    0.0
2    1.0
3    2.0
4    3.0
5    0.0
6    4.0
dtype: float64
dropna
2    1.0
3    2.0
4    3.0
6    4.0
dtype: float64